{% extends "base.html" %}
{% load static %}

{% block title %}List of Articles{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'css/order_management.css' %}" />
{% endblock %}

{% block content %}
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show mb-0" role="alert">
      <strong>SUCCESS: </strong>{{ message }}.
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %}
{% endif %}

<header>
  <div class="navbar navbar-dark bg-dark box-shadow">
    <div class="container d-flex justify-content-between">
      <a href="{% url 'articles' %}" class="navbar-brand d-flex align-items-center">
      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-card-list" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M14.5 3h-13a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
        <path fill-rule="evenodd" d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8zm0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5z"/>
        <circle cx="3.5" cy="5.5" r=".5"/>
        <circle cx="3.5" cy="8" r=".5"/>
        <circle cx="3.5" cy="10.5" r=".5"/>
      </svg>
      <strong class="ml-3">Bernini shoes</strong>
      </a>
      <div class="text-white font-weight-bold align-items-center">
        <strong class="ml-3">{{ user.username }}</strong>
        <a href="{% url 'logout' %}" class="ml-2">
          <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-arrow-left-square-fill" fill="#fff" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm9.5 8.5a.5.5 0 0 0 0-1H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5z"/>
          </svg>
        </a>
      </div>
    </div>
  </div>
</header>

<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Order Management Portal</h1>
    <div class="row">
      <div class="col-sm-12 col-md-12 py-2">
        <h4>Articles Catalog</h4>
        <p class="text-muted">Explore all the latest articles available in our catalog and submit your order now.</p>
      </div>
    </div>
  </div>
</section>

<div class="album py-5 bg-light">
  <div class="container">
    <form action="{% url 'articles' %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="articleQuantity" id="quantity-articles">
      <button type="submit" id="order-checkout" class="btn btn-info">
        Order Checkout <span id="ordered-articles" class="badge badge-dark ml-2">0</span>
      </button>
    </form>

    <div class="row">
      {% for article in object_list %}
      <div class="col-md-4 mt-2">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="{% get_media_prefix %}{{ article.image }}" alt="{{ article.name }}" style="height: 289px;width:200px;align-self:center;">
          <div class="card-body">
            <div class="row">
              <div class="col-md-8">
                <h5>{{ article.name }}</h5>
              </div>
              <div class="col-md-4">
                <h5>{{ article.price }}</h5>
              </div>
            </div>
            <p class="card-text">{{ article.description }}</p>
            <div class="row d-flex">
              <div class="col-lg-4 btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View details</button>
              </div>
              <div class="col-lg-8 btn-group">
                <input id="quantity-selected-{{ article.id }}" class="form-control display-inline" type="number" value="1" style="width: 40%;">
                <button class="btn btn-dark" onclick="addArticleToOrder({{ article.id }})">Add to order</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}


{% block js %}
  var orderedArticles = {};

  function addArticleToOrder(articleId) {
    let key = articleId.toString();
    if (!orderedArticles.hasOwnProperty(key)) {
      orderedArticles[key] = 0;
    }
    let quantity = parseInt($(`#quantity-selected-${articleId}`).val());
    orderedArticles[key] += quantity;
    $("#ordered-articles").html("Total quantity: " + getTotalQuantity());
    $("#quantity-articles").val(JSON.stringify(orderedArticles));
  }

  function getTotalQuantity() {
    let total = 0;
    for (let key in orderedArticles) {
      total += orderedArticles[key];
    }
    return total;
  }

  function getEncodedOrderValues() {
    let
    for (let key in orderedArticles) {
      total += orderedArticles[key];
    }
  }
{% endblock %}

{% block domready %}
  $("#quantity-articles").val(JSON.stringify(orderedArticles));
{% endblock %}
