{% extends "base.html" %}
{% load static %}

{% block title %}List of Articles{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'css/order_management.css' %}" />
{% endblock %}

{% block content %}
<header>
  <div class="navbar navbar-dark bg-dark box-shadow">
    <div class="container d-flex justify-content-between">
      <a href="{% url 'articles' %}" class="navbar-brand d-flex align-items-center">
      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-card-list" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M14.5 3h-13a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
        <path fill-rule="evenodd" d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8zm0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5z"/>
        <circle cx="3.5" cy="5.5" r=".5"/>
        <circle cx="3.5" cy="8" r=".5"/>
        <circle cx="3.5" cy="10.5" r=".5"/>
      </svg>
      <strong class="ml-3">Bernini shoes</strong>
      </a>
      <div class="text-white font-weight-bold align-items-center">
        <strong class="ml-3">{{ user.username }}</strong>
        <a href="{% url 'logout' %}" class="ml-2">
          <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-arrow-left-square-fill" fill="#fff" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm9.5 8.5a.5.5 0 0 0 0-1H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5z"/>
          </svg>
        </a>
      </div>
    </div>
  </div>
</header>

<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Order Management Portal</h1>
    <div class="row">
      <div class="col-sm-12 col-md-12 py-2">
        <h4>Do your checkout</h4>
      </div>
    </div>
  </div>
</section>

<div class="album py-5 bg-light">
  <div class="container">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#Reference</th>
          <th scope="col">Article Name</th>
          <th scope="col">Price</th>
          <th scope="col">Quantity</th>
        </tr>
      </thead>
      <tbody>
      {% for item in pre_checkout_data.items %}
      <tr>
        <th scope="row">{{ item.reference }}</th>
        <td>{{ item.name }}</td>
        <td>{{ item.price }}</td>
        <td>{{ item.quantity }}</td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
    <h5 class="text-right">Total price: {{ pre_checkout_data.total_price|floatformat }}</h5>
    <form action="{% url 'do_checkout' %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="preCheckoutData" id="pre-checkout-data">
      <button type="submit" id="confirm-checkout" class="btn btn-dark float-right">
        Confirm Checkout
      </button>
    </form>
  </div>
</div>
{% endblock %}

{% block js %}
  const preCheckoutData = {{ pre_checkout_data|safe }};
{% endblock %}

{% block domready %}
  $("#pre-checkout-data").val(JSON.stringify(preCheckoutData));
{% endblock %}
